@{
    ViewBag.Title = "Excluir Cliente";
}

@model ClientesCRUD.Models.Cliente

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        @Html.ActionLink("Voltar", "Index")
    </p>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">Nome:</dt>
            <dd class="col-sm-10">@Model.Nome</dd>

            <dt class="col-sm-2">Sexo:</dt>
            <dd class="col-sm-10">@Model.Sexo</dd>

            <dt class="col-sm-2">Endereço:</dt>
            <dd class="col-sm-10">@Model.Endereco</dd>

            <dt class="col-sm-2">Telefones:</dt>
            <dd class="col-sm-10">
                <ul>
                    @foreach (var tel in Model.Telefones)
                    {
                        <li>@tel.Numero @(tel.Ativo ? "(Ativo)" : "")</li>
                    }
                </ul>
            </dd>
        </dl>
    </div>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Id)
        <input type="submit" value="Excluir" class="btn btn-danger" />
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" })
    }
</main>